**/bin/
**/obj/
artifacts/
.tools/
.vs/
local.props
*.user
*.suo
*.pdb
*.exe
*.dll
!/0.1.0/*.dll
!/0.2.0/*.dll
!/0.2.1/*.dll
!/0.2.3/*.dll
!/0.2.4/*.dll
*.zip
*.mp4
*.mov
*.mkv
*.f32
*.partial*
*.log
*.cfg
*.aap
*.db
*.sqlite*
**/__pycache__/
